swagger: '2.0'
info:
  version: '1.0.0'
  title: Banking-System API
basePath: '/'
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /users:
    post:
      tags:
        - Users
      summary: Create a new user
      description: Creates a new user with profile information
      parameters:
        - in: body
          name: user
          description: The user to create.
          required: true
          schema:
            $ref: '#/definitions/User'
      responses:
        '201':
          description: User Created
          schema:
            $ref: '#/definitions/UserResponse'
    get:
      tags:
        - Users
      summary: Get all users
      description: Retrieves a list of all users
      parameters:
        - in: query
          name: limit
          description: The number of items to return
          required: false
          type: integer
          format: int32
        - in: query
          name: page
          description: The page number
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UsersResponse'

  /users/{id}:
    get:
      tags:
        - Users
      summary: Get user details
      description: Retrieves details of a specific user
      parameters:
        - name: id
          in: path
          description: ID of the user to fetch
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'

  /accounts:
    post:
      tags:
        - Accounts
      summary: Create a new account
      description: Creates a new bank account for a user
      parameters:
        - in: body
          name: account
          description: The account to create.
          required: true
          schema:
            $ref: '#/definitions/Account'
      responses:
        '201':
          description: Account Created
          schema:
            $ref: '#/definitions/AccountResponse'
    get:
      tags:
        - Accounts
      summary: Get all accounts
      description: Retrieves a list of all bank accounts
      parameters:
        - in: query
          name: limit
          description: The number of items to return
          required: false
          type: integer
          format: int32
        - in: query
          name: page
          description: The page number
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AccountsResponse'

  /accounts/{id}:
    get:
      tags:
        - Accounts
      summary: Get account details
      description: Retrieves details of a specific bank account
      parameters:
        - name: id
          in: path
          description: ID of the account to fetch
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Account'

  /transactions:
    post:
      tags:
        - Transactions
      summary: Create a new transaction
      description: Performs a financial transaction between two accounts
      parameters:
        - in: body
          name: transaction
          description: The transaction to create.
          required: true
          schema:
            $ref: '#/definitions/Transaction'
      responses:
        '201':
          description: Transaction Successful
          schema:
            $ref: '#/definitions/TransactionResponse'
    get:
      tags:
        - Transactions
      summary: Get all transactions
      description: Retrieves a list of all financial transactions
      parameters:
        - in: query
          name: limit
          description: The number of items to return
          required: false
          type: integer
          format: int32
        - in: query
          name: page
          description: The page number
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TransactionsResponse'

  /transactions/{id}:
    get:
      tags:
        - Transactions
      summary: Get transaction details
      description: Retrieves details of a specific financial transaction
      parameters:
        - name: id
          in: path
          description: ID of the transaction to fetch
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Transaction'

definitions:
  User:
    type: object
    properties:
      name:
        type: string
      email:
        type: string
      password:
        type: string
      identityType:
        type: string
      identityNumber:
        type: string
      address:
        type: string
  UserResponse:
    type: object
    properties:
      status:
        type: boolean
      message:
        type: string
      data:
        $ref: '#/definitions/User'
  UsersResponse:
    type: object
    properties:
      status:
        type: boolean
      message:
        type: string
      data:
        type: object
        properties:
          pagination:
            type: object
          users:
            type: array
            items:
              $ref: '#/definitions/User'
  Account:
    type: object
    properties:
      balance:
        type: number
      bankName:
        type: string
      bankAccountNumber:
        type: string
      userId:
        type: integer
  AccountResponse:
    type: object
    properties:
      status:
        type: boolean
      message:
        type: string
      data:
        $ref: '#/definitions/Account'
  AccountsResponse:
    type: object
    properties:
      status:
        type: boolean
      message:
        type: string
      data:
        type: object
        properties:
          pagination:
            type: object
          accounts:
            type: array
            items:
              $ref: '#/definitions/Account'
  Transaction:
    type: object
    properties:
      amount:
        type: number
      destinationAccountId:
        type: integer
      sourceAccountId:
        type: integer
  TransactionResponse:
    type: object
    properties:
      status:
        type: boolean
      message:
        type: string
      data:
        type: string
  TransactionsResponse:
    type: object
    properties:
      status:
        type: boolean
      message:
        type: string
      data:
        type: object
        properties:
          pagination:
            type: object
          transactions:
            type: array
            items:
              $ref: '#/definitions/Transaction'
